// UNCLASSIFIED

extends site
append site_parms
	- help = "Edit engine by specified &name and &engine type."
	- view = "Min"
	- dims = "800,1200"
	- dock = "left"
append site_body

	#form.User.Profile(
		path="/profiles.db?Client=#{client}",
		title="#{client} profile",
		head="Select,Print",
		cols="Likeus.i,QoS.i,Credit.n,Joined.d,Challenge.c,Trusted.c,Captcha.c,Notify(Banned.h,Message.h))")

		:markdown
			**Select** to retrieve and lock your record for editing.  **Update**, **Insert**, **Delete** or **Select** 
			as needed to unlock the record.

// UNCLASSIFIED
